.our-story {
  padding: 80px 40px 50px 40px;
  background-color: #f5f0e6;
  color: #4b2e1e;
  font-family: 'Sour Gummy', sans-serif;
}

.story-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.story-text {
  flex: 1 1 500px;
}

.story-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  position: relative;
  font-weight: 700;
}

.story-text h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #d2691e;
  margin-top: 10px;
  justify-self: center;
}

.story-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.story-image {
  flex: 1 1 400px;
}

.story-image img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

